.profile {
  width: 300px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.08),
    0px 10px 10px rgba(0, 0, 0, 0.12);
}

.description {
  display: flex;
  padding: 20px 30px;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: #757575;
}

.avatar {
  width: 100px;
  height: 100px;
}

.name {
  margin-top: 25px;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-primary-text);
}

.tag {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
}

.location {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
}

.stats {
  display: flex;
  justify-content: center;
  background-color: #d3d3d3;
}

.stats li {
  width: 100px;
  padding: 15px 15px;
  border: 1px solid #b4aeae;
  text-align: center;
}

.label {
  display: block;
  font-size: 14px;
  color: #757575;
}

.quantity {
  font-weight: bold;
}
